body {
    font-family: sans-serif;
    background-color: rgb(238, 237, 237);
}

a {
    font-family: sans-serif;
    text-decoration: none;
    font-weight: bold;
}
/*trying to lower the anchor of href by 100px */
/*a.anchor:before {
    content: "";
    display: block;
    width: 0;
    height: 5em;
    position: relative;
    top: -100px;
    visibility: hidden;
}*/

a:visited, a:link, a:hover, a:focus, a:active {
    color: black;
}

button {
    background-color: rgb(243, 105, 162);
    border: none;
    color: white;    
}

#header {
    background-color: rgb(238, 237, 237);
    align-items: center;
    display: flex;
    height: 100px;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
}

#brand-title {
    font-family: 'Pacifico', sans-serif ;
    font-size: 40px;
    scale: auto;
}

#header-img {
    height: 50px;
    width: 50px;
    margin-right: 20px;
}

#brand {
    display: flex;
    align-items: center;
}

header .nav-liste {
    display: flex;
    flex-wrap: wrap;
}

header .nav-link {
    margin: 10px 80px 10px 80px;
}

#core {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}

.corediv {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.coreimg {
    display: flex;
    flex: 1;
    align-items: center;
    max-width: 110px;
}

.coretext {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.coretext h1 {
    margin-bottom: 0px;
}

.coretext p {
    margin-top: 0px;
}

.fas {
    font-size: 60px;
    color: rgb(243, 105, 162);
    margin-right: 30px;
}

#video {
    justify-content: center;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 50px;
    max-width: 560px;
    display: block;
}

#price {
    display: flex;
    margin: auto;
    max-width: 1200px;
    flex-wrap: wrap;
    margin: 10px auto 40px auto;
}

#price1 {
    flex: 1 1 200px;
    flex-direction: column;
    margin: 20px 20px 20px 20px;
    border: thin solid black;
    max-width: 400px;
    height: 400px;
}

#price2 {
    flex: 1 1 200px;
    margin: 20px 20px 20px 20px;
    border: thin solid black;
    flex-shrink: 1;
    max-width: 400px;
    height: 400px;
}

#price3 {
    flex: 1 1 200px;
    margin: 20px 20px 20px 20px;
    border: thin solid black;
    max-width: 400px;
    height: 400px;
}

#price h1 {
    font-size: 25px;
    font-weight: normal;
}

.product-title {
    display: flex;
    flex: 1 1 200px;
    min-height: 70px;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: lightgrey;
}

.product-price {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.product-button {
    display: flex;
    margin-top: auto;
    justify-content: center;
    align-self: flex-end;
}

#price button {
    width: 100px;
    height: 40px;
    font-size: 20px;
    justify-content: center;
}

#newsletter {
    margin: 20px auto 20px auto;
    max-width: 800px;
    text-align: center;
}

#newsletter h3 {
    margin-bottom: 0px;
    margin-top: 0px;
}

#submit {
    margin-top: 20px;
    margin-bottom: 60px;
    padding: 10px 20px 10px 20px;
    font-size: 25px;
    font-weight: bold;
    background-color: rgb(243, 105, 162);
    color: white;
    border: none;
}

.form-box {
    margin-top: 30px;
    height: 25px;
    width: 280px;
}

#newsletter ::placeholder {
    font-size: 15px;
    text-align: center;
    align-items: center;
}

#email {
    font-size: 15px;
}

footer {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    padding-left: 10px;
    max-width: 1200px;
    margin: 10px auto 0px auto;
    background-color: lightgrey;
}

.nav-liste-footer {
    display: flex;
    flex-direction: row;
    align-content: flex-end;
}

.nav-link {
    padding-left: 10px;
}

footer p {
    text-align: right;
}

/*print avoider*/
@media print {
    body {
        opacity: 0;
    }
}